@media (max-width: 640px) {
  .article-header {
    margin: 0;
    padding: 1em 1em;
  }

  .article-header h1 {
    font-size: 160%;
    text-align: left;
  }

  .article-content {
    margin: 0;
    padding: 0;
    border: none;
  }

  .article-content .entry {
    margin: 0;
    padding: 1em;
  }

  aside {
    .nav a {
      margin-right: 0;
    }

    .publisher {
      padding-left: 0;

      dl {
        left: 100px;
      }
    }
  }
}
