@media (max-width: 767px) {
  aside {
    .nav a {
      margin-right: 0;
    }

    .publisher {
      .avatar {
        left: 0;
      }

      dl {
        padding: 0 0 0 100px;
      }
    }
  }
}
