@media (max-width: 900px) {
  .header {
    padding-bottom: 20px;
    text-align: center;
  }

  .header .menu {
    position: static;
    text-align: center;
  }

  .header .menu li a {
    float: none;
    display: inline-block;
    margin: 0 10px 10px;
  }
}
