.article-header {
  margin: 20px 0 0 0;
  padding: 4em 1em 6em 1em;
  background-color: #14343f;
  color: #fff;
}

.article-header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 260%;
}

.article-content {
  max-width: 1000px;
  margin: -2.5em auto 0 auto;
}

.article-content .entry {
  margin: 0 20px;
  padding: 2em 4em 1em 4em;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #444;
}

.article-content .entry h2 {
  margin-top: 1.7em;
}

.article-content .entry h3 {
  margin-top: 1em;
}

.article-content .entry ul li {
  margin-bottom: .5em;
}

.article-content .metadata {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  color: #999;
  font-size: 90%;
}

.article-content .metadata li {
  display: inline;
}

.article-content .metadata .published,
.article-content .metadata .tags {
  padding-right: 1em;
}

.article-content ul.share {
  list-style: none;
  margin: 3em 0 0 0;
  padding: .5em 0 0 0;
  border-top: 1px solid #eee;

  li {
    display: inline-block;
    padding-right: 1.5em;
    font-size: 90%;
  }

  li:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
  }

  li.twitter:before {
    content: "\f099";
  }

  li.facebook:before {
    content: "\f082";
  }

  li.hatebu:before {
    content: "B!";
    color: #2c6ebd;

    a {
      color: #2c6ebd;
    }
  }

  li.twitter {
    color: #00acee;

    a {
      color: #00acee;
    }
  }

  li.facebook {
    color: #3b5998;

    a {
      color: #3b5998;
    }
  }
}

.article-content .ads {
  margin-top: 4em;

  h2 {
    margin: 0 0 5px 0;
    padding: 0;
    color: #999;
    font-size: 70%;
    font-weight: normal;
  }
}
