aside {
  max-width: 1000px;
  margin: 50px auto 0 auto;
  padding: 0 20px;

  .publisher {
    position: relative;
    height: 160px;

    .avatar {
      margin: 0;
      padding: 0;

      img {
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
      }
    }

    dl {
      position: absolute;
      top: 0;
      left: 140px;
      margin: 0;
      padding: 0;

      dt {
        margin: 0 0 5px 0;
        padding: 0;
        font-size: 90%;
        font-family: serif;
        font-style: italic;
        color: #888;
      }

      dd {
        margin: 0;
        padding: 0;
        color: #666;
      }

      dd.name {
        font-weight: bold;
      }

      dd.description {
        font-size: 90%;
      }
    }
  }
}
