aside {
  max-width: 1000px;
  margin: 50px auto 0 auto;
  padding: 0 20px;

  .nav {
    margin: 0 0 20px 0;

    a {
      margin: 0 30px 20px 0;
      text-decoration: none;
    }

    .prev a {
      display: block;
      height: 60px;
      background-color: #2980b9;
      color: #fff;
      text-align: center;
      line-height: 60px;
      font-weight: bold;
      font-size: 140%;
    }

    .prev a:hover {
      background-color: #3498db;
    }

    .next a {
      display: block;
      height: 60px;
      background-color: #2980b9;
      color: #fff;
      text-align: center;
      line-height: 60px;
      font-size: 100%;
    }

    .next a:hover {
      background-color: #3498db;
    }
  }

  .publisher {
    position: relative;
    height: 130px;
    padding-left: 60px;

    .avatar {
      margin: 0;
      padding: 0;

      img {
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
      }
    }

    dl {
      position: absolute;
      top: 0;
      left: 160px;
      margin: 0;
      padding: 0;

      dt {
        margin: 0 0 5px 0;
        padding: 0;
        font-size: 90%;
        font-family: serif;
        font-style: italic;
        color: #888;
      }

      dd {
        margin: 0;
        padding: 0;
        color: #666;
      }

      dd.name {
        font-weight: bold;
      }

      dd.description {
        font-size: 90%;
      }
    }
  }
}
