aside {
  max-width: 1000px;
  margin: 50px auto 0 auto;
  padding: 0 20px;

  .nav {
    margin: 0 0 20px 0;

    a {
      margin: 0 30px 20px 0;
      text-decoration: none;
    }

    .disable {
      display: block;
      height: 60px;
      margin: 0 30px 20px 0;
      background-color: #ddd;
      color: #fff;
      text-align: center;
      line-height: 60px;
      font-weight: bold;
      font-size: 140%;
    }

    .prev a {
      display: block;
      height: 60px;
      background-color: #256276;
      color: #fff;
      text-align: center;
      line-height: 60px;
      font-weight: bold;
      font-size: 140%;
    }

    .prev a:hover {
      background-color: #3793B0;
    }

    .next a {
      display: block;
      height: 60px;
      background-color: #256276;
      color: #fff;
      text-align: center;
      line-height: 60px;
      font-size: 100%;
    }

    .next a:hover {
      background-color: #3793B0;
    }
  }

  .publisher {
    position: relative;

    .avatar {
      position: absolute;
      top: 0;
      left: 60px;
      margin: 0;
      padding: 0;

      img {
        border-radius: 10px;
        box-shadow: 1px 1px 1px rgb(0, 0, 0.4);
      }
    }

    dl {
      margin: 0;
      padding: 0 0 0 160px;

      dt {
        margin: 0 0 5px 0;
        padding: 0;
        font-size: 70%;
        font-family: serif;
        font-style: italic;
        color: #888;
      }

      dd {
        margin: 0;
        padding: 0;
        color: #666;
      }

      dd.name {
        font-size: 80%;
        font-weight: bold;
      }

      dd.description {
        font-size: 80%;
      }

      dd.accounts {
        margin-top: 5px;
        font-size: 160%;

        a {
          color: #256276;
        }

        a:hover {
          color: #3793B0;
          text-decoration: none;
        }
      }
    }
  }
}
