* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2980b9;
}

a:hover {
  color: #3498db;
}

a:hover,
a:focus {
  text-decoration: underline;
}

body {
  background-color: #f9f9f7;
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

pre {
  font-family: Consolas, Ricty, 'Courier New', Monaco, monospace;
}

code {
  border-bottom: 2px dotted #ddd;
  color: #777;
}

table {
  border: 1px solid #ccc;

  th {
    background-color: #e7eef0;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 0 .5em;
    line-height: 1.8em;
  }
}

.my_adslot { width: 320px; height: 50px; }

.disqus {
  margin-top: 40px;
}
