.footer {
  margin: 30px 0 0 0;
  padding: 0 0 20px 0;
  text-align: center;

  .ads {
    margin-top: 0;
    margin-bottom: 20px;
  }

  p {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 0 20px;
    font-size: 85%;
    font-family: serif;
    font-style: italic;
  }
  
  a {
    color: #256276;
  }

  a:hover {
    color: #3793B0;
  }
}
