body > footer {
  clear: left;
  max-width: 1000px;
  margin: 30px auto 0 auto;
  padding: 0 20px 20px 20px;
  text-align: center;

  p, address {
    margin: 0;
    padding: 0;
    font-size: 85%;
    font-family: serif;
    font-style: italic;
  }

  a {
    color: #256276;
  }

  a:hover {
    color: #3793B0;
  }
}
