#index .entry {
  .body {
    margin-top: 20px;
    padding-bottom: 3em;
  }
}

#recent-entries {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #999;

    li {
      margin: 0 0 2em 0;
    }

    span {
      display: block;
      font-size: 80%;
    }
  }
}

#tags {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin: 0;
      padding: 0 1em 0 0;
      line-height: 2em;
    }
  }
}
