@media (max-width: 900px) {
  body > header {
    padding-bottom: 20px;
    text-align: center;

    nav {
      position: static;
      text-align: center;

      ul li a {
        margin-bottom: 10px;
      }
    }
  }

  .page .entry .body {
    padding: 2em;
  }
}

@media (max-width: 640px) {
  body > header {
    h1 {
      text-align: left;
      font-size: 90%;
    }

    p {
      text-align: left;
      font-size: 80%;
      color: #666;
    }

    nav {
      position: absolute;
      top: 0;
      right: 20px;

      ul {
        li {
          a {
            width: auto;
            height: auto;
            padding-left: 1em;
            padding-right: 1em;
            line-height: 3em;
            font-size: 80%;
          }

          a:hover {
          }
        }
      }
    }
  }

  .page {
    main {
      margin: 0;
    }

    .entry {
      header {
        margin: 0;
        padding: 1em 1em;

        h1 {
          font-size: 140%;
          text-align: left;
        }
      }

      .body {
        margin: 0;
        padding: 1em;
        border: none;
        line-height: 160%;

        p, ul {
          margin-bottom: 1.7em;
        }
      }
    }

    main > aside {
      height: auto;
      padding: 0 20px 0 20px;
    }

    .entry-navigation {
      float: none;
      width: 100%;

      ul {
        height: auto;
      }

      a, .disable {
        float: none;
        width: 100%;
      }
    }

    .author {
      float: none;
      width: 100%;
      padding: 0;
    }
  }
}

@media (min-width: 1500px) {
  body > header,
  body > footer {
    max-width: 1240px;
  }

  .page main > aside,
  .page .entry .body,
  .page .entry header h1 {
    max-width: 1200px;
  }

  .page .entry .body {
    padding-left: 5em;
    padding-right: 5em;
    font-size: 20.6px;

    pre {
      line-height: 105%;
    }
  }

  .page .author {
    font-size: 110%;
  }
}
