<%- if development? %>
  <aside class="adsense">
    <h2>スポンサーリンク</h2>
    <style>
    .my_adslot { width: 320px; height: 50px; }
    @media(min-width: 500px) { .my_adslot { width: 468px; height: 60px; } }
    @media(min-width: 800px) { .my_adslot { width: 728px; height: 90px; } }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- レスポンシブ広告 -->
    <ins class="adsbygoogle my_adslot"
      style="display:inline-block"
      data-ad-client="ca-pub-9793679396875597"
      data-ad-slot="7185837461"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </aside>
<%- end %>
