%footer
  %address
    dakatsuka's blog by Dai Akatsuka is licensed under a <a rel="license" href="//creativecommons.org/licenses/by-nc/3.0/deed.ja">CC BY-NC 3.0</a>

  %p.powered
    Powered by <a href="//middlemanapp.com/">Middleman</a>
