%header(role="banner")
  %h1
    %a{:href => "/"} dakatsuka's blog
  %p 開発な日々

  %nav(role="navigation")
    %ul
      %li
        %a{:href => "/about.html"} About
      %li
        %a{:href => "/archives.html"} Archives
