%header.header
  %h1.brand-title
    %a{:href => "/"} dakatsuka's blog
  %p.brand-tagline 開発な日々

  %ul.menu
    %li
      %a{:href => "/about.html"} About
    %li
      %a{:href => "/archives.html"} Archives
