%header(role="banner")
  %h1
    %a{:href => "/"}= data.site.name
  %p= data.site.description

  %nav(role="navigation")
    %ul
      %li
        %a{:href => "/about.html"} About
      %li
        %a{:href => "/archives.html"} Archives
