<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
    %title
      #{current_page.data.title unless current_page.nil?} | dakatsuka's blog
    = stylesheet_link_tag "http://yui.yahooapis.com/pure/0.3.0/pure-min.css", "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", "all"

  %body
    %header.header
      %h1.brand-title
        %a{:href => "/"} dakatsuka's blog
      %p.brand-tagline 開発な日々

      %ul.menu
        %li
          %a{:href => "/about.html"} About
        %li
          %a{:href => "/archives.html"} Archives

    .pure-g-r
      %article.article.page.pure-u-1
        .article-header
          %h1= current_page.data.title
        .article-content
          .entry
            .body
              = yield

    %footer.footer
      %p.license
        %span{"xmlns:dct" => "http://purl.org/dc/terms/", "property" => "dct:title"} FIRN.JP
        by
        %a{"xmlns:cc" => "http://creativecommons.org/ns#", "href" => "http://firn.jp/", "property" => "cc:attributionName", "rel" => "cc:attributionURL"} Dai Akatsuka
        is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.ja">Creative Commons 表示 - 非営利 3.0 非移植 License</a>

      %p.powered
        Powered by <a href="http://pages.github.com/">GitHub Pages</a> &amp; <a href="http://middlemanapp.com/">Middleman</a>.


