.post-heading h1 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.article {
  text-align: start;
}

.article figure {
    max-width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
}

.article figure img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.article figure figcaption {
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
    opacity: .7;
}

.article p > code {
  font-family: Menlo, Monaco, Consolas, monospace;
  font-weight: 600;
}

.archives td {
  vertical-align: top;
}

a.footnote-ref {
  text-decoration: underline;
  color: #666;
}

pre {
  background-color:#272822;
  color:#f8f8f2;
}

.intro-header [class$="-heading"] h1 {
  line-height: 1.2;
  font-weight: bold;
  font-size: 36px;
}

@media (max-width: 600px) {
  .intro-header [class$="-heading"] h1 {
    font-size: 30px;
  }
}
